

<!-- <mat-card class="profile">
    <mat-card-header>
      <mat-card-title>Mr. X</mat-card-title>
      <mat-card-subtitle>Profile</mat-card-subtitle>
    </mat-card-header>
    <div mat-card-avatar class="avatar-image"></div>
    <mat-card-content>
      Profile:
      <ul>
        <li *ngFor="let item of profile_list"> {{item}}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Contact me</button>
    </mat-card-actions>
</mat-card> -->

<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
</mat-grid-list>

