.profile {
    width: 500px;
}

// .profile {
//     max-height: 400px;
//     margin: 20px;
// }

.avatar-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    border-radius: 15px 50px;
    border: 2px solid red;
    padding: 20px;
    width: 200px;
    height: 150px;
}