<div class="page-content-card-col">
    <div style="width: 70%;">
        <!-- blog section -->
        <div class="item-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>New Blog about Shiba Inu {{blogID$ | async}}</mat-card-title>
                    <mat-card-subtitle>Jan 14, 2021</mat-card-subtitle>
                </mat-card-header>
                <div style="display:flex; justify-content: center; padding: 16px;">
                    <img style="width: calc(50% + 32px);" mat-card-image
                        src="https://placedog.net/100{{blogID$ | async}}/100{{blogID$ | async}}?random"
                        alt="Photo of a Shiba Inu">
                </div>
                <hr>
                <mat-card-content>
                    <p *ngFor="let i of [1,2,3]">
                        The Shiba Inu {{blogID$ | async}} is the smallest of the six original and distinct spitz breeds
                        of dog
                        from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </p>
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content: flex-end;">
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>


        <!-- comment section -->
        <div class="item-container">

            <mat-card>
                <mat-card>
                    <mat-card-header style="margin-bottom: 15px;">
                        <mat-card-title>Write a comment</mat-card-title>
                    </mat-card-header>

                    <!-- Comment Form -->
                    <form class="standard-form">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Comment</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                        <div class="action">
                            <button mat-button>Submit</button>
                        </div>
                    </form>
                </mat-card>

                <mat-card-header style="margin: 35px 35px 0px 0px;">
                    <mat-card-title> COMMENTS:</mat-card-title>
                </mat-card-header>

                <hr>
                <mat-card-header>
                    <div mat-card-avatar class="blog-header-image"></div>
                    <mat-card-title>Mr. X</mat-card-title>
                    <mat-card-subtitle>On Jan 24 2021</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        With the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content: flex-end;">
                    <button mat-button>Like</button>
                </mat-card-actions>
                <hr>
                <mat-card-header>
                    <div mat-card-avatar class="blog-header-image"></div>
                    <mat-card-title>Mr. Y</mat-card-title>
                    <mat-card-subtitle>On Jan 24 2021</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        With the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content: flex-end;">
                    <button mat-button>Like</button>
                </mat-card-actions>

            </mat-card>
        </div>
    </div>
</div>