<div class="page-content-card-col">
    <div style="width: 70%;">
        <!-- blog section -->
        <div class="item-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{blog.title}} {{blogID$ | async}}</mat-card-title>
                    <mat-card-subtitle>Jan 14, 2021</mat-card-subtitle>
                </mat-card-header>
                <div style="display:flex; justify-content: center; padding: 16px;">
                    <img style="width: calc(50% + 32px);" mat-card-image
                        src="https://placedog.net/100{{blogID$ | async}}/100{{blogID$ | async}}?random"
                        alt="blog.title">
                </div>
                <hr>
                <mat-card-content>
                    <quill-view [content]="blog.content" format="html" theme="snow"></quill-view>
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content: flex-end;">
                    <button mat-icon-button><mat-icon>share</mat-icon></button>
                    <button mat-icon-button *ngIf="isAdmin" routerLink="edit"><mat-icon>edit</mat-icon></button>
                </mat-card-actions>
            </mat-card>
        </div>


        <!-- comment section -->
        <div class="item-container">

            <mat-card>
                <mat-card>
                    <mat-card-header style="margin-bottom: 15px;">
                        <mat-card-title>Leave a comment</mat-card-title>
                    </mat-card-header>

                    <!-- Comment Form -->
                    <form class="standard-form">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Comment</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                        <div class="action">
                            <button mat-button>Submit</button>
                        </div>
                    </form>
                </mat-card>

                <mat-card-header style="margin: 35px 35px 0px 0px;">
                    <mat-card-title> COMMENTS:</mat-card-title>
                </mat-card-header>

                <hr>
                <mat-card-header>
                    <div mat-card-avatar class="blog-header-image"></div>
                    <mat-card-title>Mr. X</mat-card-title>
                    <mat-card-subtitle>On Jan 24 2021</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        With the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content: flex-end;">
                    <button mat-button>Like</button>
                </mat-card-actions>
                <hr>
                <mat-card-header>
                    <div mat-card-avatar class="blog-header-image"></div>
                    <mat-card-title>Mr. Y</mat-card-title>
                    <mat-card-subtitle>On Jan 24 2021</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        With the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content: flex-end;">
                    <button mat-button>Like</button>
                </mat-card-actions>

            </mat-card>
        </div>
    </div>
</div>